<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<div class="toolbar">
		    <a href="/"><i class="iconfont icon-guanbi"></i></a>
		  </div>
 			<p><img src="/images/detail/25/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>Lovefull</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;爱乳酪</p>
							<p><strong>服务 </strong>&nbsp;品牌形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        Lovefull是一个提倡爱与分享、注重顾客体验的时尚健康优格领军品牌。优格（Frozen Yogurt）即酸奶冰激凌，其因低脂低卡路里、自主消费的模式等特点深受年轻人的喜爱。Lovefull整体形象使用自然健康的绿色，同时搭配多种缤纷色彩来展现多样和年轻活力的特性。标志设计源自品牌名简写和优格柔滑圆润的外形，健康自然同时也亲和俏皮、活力动人。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/25/2.jpg"/>	</p>
 			<p><img src="/images/detail/25/3.jpg"/>	</p>
 			<p><img src="/images/detail/25/4.jpg"/>	</p>
 			<p><img src="/images/detail/25/5.jpg"/>	</p>
 			<p><img src="/images/detail/25/6.jpg"/>	</p>
 			<p><img src="/images/detail/25/7.jpg"/>	</p>
 			<p><img src="/images/detail/25/8.jpg"/>	</p>
 			<p><img src="/images/detail/25/9.jpg"/>	</p>
 			<p><img src="/images/detail/25/10.jpg"/>	</p>
 			<p><img src="/images/detail/25/11.jpg"/>	</p>
 			<p><img src="/images/detail/25/12.jpg"/>	</p>
 			
        
    </div>

		
</div>