<div class="row list-teams">
		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<div class="toolbar">
		    <a href="/"><i class="iconfont icon-guanbi"></i></a>
		  </div>
 			<p><img src="/images/detail/7/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-3 text-left">
	    				<p><strong>新西兰蓝莓原浆</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;Peak Top Beri</p>
							<p><strong>服务 </strong>&nbsp;产品包装设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-9 text-left">
			        Peak Top Beri产品以浆果原浆为主，原产地和生产皆在新西兰。包装设计在突出蓝莓原浆品类特性的同时也加入了Beri雪山的品牌元素。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/7/2.jpg"/>	</p>
 			<p><img src="/images/detail/7/3.jpg"/>	</p>
 			<p><img src="/images/detail/7/4.jpg"/>	</p>
 			<p><img src="/images/detail/7/5.jpg"/>	</p>
 			<p><img src="/images/detail/7/6.jpg"/>	</p>
 			<p><img src="/images/detail/7/7.jpg"/>	</p>
 			<p><img src="/images/detail/7/8.jpg"/>	</p>
 			<p><img src="/images/detail/7/9.jpg"/>	</p>
 			
        
    </div>

		
</div>