<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<div class="toolbar">
		    <a href="/"><i class="iconfont icon-guanbi"></i></a>
		  </div>
 			<p><img src="/images/detail/22/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>Samyee叁壹</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;叁壹进口商品专营店</p>
							<p><strong>服务 </strong>&nbsp;品牌形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        随着生活水平的提高，消费者对高品质生活有更多追求和选择。Samyee叁壹全部销售进口商品，以快消类的零食、饮品、厨房系列、母婴产品、护肤品为主。标志是数字31构成的笑脸，形象时尚醒目有亲和力，给消费者带来放心、愉悦和舒适的感观。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/22/2.jpg"/>	</p>
 			<p><img src="/images/detail/22/3.jpg"/>	</p>
 			<p><img src="/images/detail/22/4.jpg"/>	</p>
 			<p><img src="/images/detail/22/5.jpg"/>	</p>
 			<p><img src="/images/detail/22/6.jpg"/>	</p>
 			<p><img src="/images/detail/22/7.jpg"/>	</p>
 			<p><img src="/images/detail/22/8.jpg"/>	</p>
 			<p><img src="/images/detail/22/9.jpg"/>	</p>
 			<p><img src="/images/detail/22/10.jpg"/>	</p>
 			<p><img src="/images/detail/22/11.jpg"/>	</p>
 			<p><img src="/images/detail/22/12.jpg"/>	</p>
 			<p><img src="/images/detail/22/13.jpg"/>	</p>
 			
        
    </div>

		
</div>