<div class="row list-teams">
 		<div class="col-xs-12 col-sm-12 col-md-12 team">
 			<p><img src="/images/detail/12/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>五季梦</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;五季梦女装</p>
							<p><strong>服务 </strong>&nbsp;品牌形象升级</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        五季梦是东莞米蕾服饰有限公司旗下品牌，2009年开始主要在天猫淘宝等网络平台销售，主要产品为连衣裙、针织衫等女装。因专注基本款连衣裙，抢先推广，价格稳定而获成功，拥有上百万会员。其本质为连衣裙品牌，根据消费者心智定位，进行战略调整，同时从版型上做区隔，定位为“更修身更显瘦连衣裙”。我们找到符合五季梦战略定位的表达形式，将品牌名与修身显瘦的最终结果“S曲线”相结合，图形化而设计出五季梦的全新形象。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/12/2.jpg"/>	</p>
 			<p><img src="/images/detail/12/3.jpg"/>	</p>
 			<p><img src="/images/detail/12/4.jpg"/>	</p>
 			<p><img src="/images/detail/12/5.jpg"/>	</p>
 			<p><img src="/images/detail/12/6.jpg"/>	</p>
 			<p><img src="/images/detail/12/7.jpg"/>	</p>
 			<p><img src="/images/detail/12/8.jpg"/>	</p>
 			<p><img src="/images/detail/12/9.jpg"/>	</p>
 			<p><img src="/images/detail/12/10.jpg"/>	</p>
 			<p><img src="/images/detail/12/11.jpg"/>	</p>
 			<p><img src="/images/detail/12/12.jpg"/>	</p>
 			<p><img src="/images/detail/12/13.jpg"/>	</p>
 			<p><img src="/images/detail/12/14.jpg"/>	</p>
 			<p><img src="/images/detail/12/15.jpg"/>	</p>
 			<p><img src="/images/detail/12/16.jpg"/>	</p>
 			<p><img src="/images/detail/12/17.jpg"/>	</p>
 			<p><img src="/images/detail/12/18.jpg"/>	</p>
 			<p><img src="/images/detail/12/19.jpg"/>	</p>
 			<p><img src="/images/detail/12/20.jpg"/>	</p>
 			<p><img src="/images/detail/12/21.jpg"/>	</p>
 			<p><img src="/images/detail/12/22.jpg"/>	</p>
        
    </div>

		
</div>