<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<div class="toolbar">
		    <a href="/"><i class="iconfont icon-guanbi"></i></a>
		  </div>
 			<p><img src="/images/detail/6/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>宏达秋科技</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;宏达秋科技</p>
							<p><strong>服务 </strong>&nbsp;品牌形象升级</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        宏达秋科技于2007年创立于深圳，是国内专业从事印刷电路板及表面贴装等制程化学品的企业之一，中国领先的PCB药水解决方案供应商。为超过百家企业提供PCB药水服务，以化学镍金系列为尖端产品，该系列产品已成为国内众多大型PCB厂家指定原材料。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/6/2.jpg"/>	</p>
 			<p><img src="/images/detail/6/3.jpg"/>	</p>
 			<p><img src="/images/detail/6/4.jpg"/>	</p>
 			<p><img src="/images/detail/6/5.jpg"/>	</p>
 			<p><img src="/images/detail/6/6.jpg"/>	</p>
 			<p><img src="/images/detail/6/7.jpg"/>	</p>
 			<p><img src="/images/detail/6/8.jpg"/>	</p>
 			<p><img src="/images/detail/6/9.jpg"/>	</p>
 			<p><img src="/images/detail/6/10.jpg"/>	</p>
 			<p><img src="/images/detail/6/11.jpg"/>	</p>
 			<p><img src="/images/detail/6/12.jpg"/>	</p>
 			<p><img src="/images/detail/6/13.jpg"/>	</p>
 			<p><img src="/images/detail/6/14.jpg"/>	</p>
 			<p><img src="/images/detail/6/15.jpg"/>	</p>
 			<p><img src="/images/detail/6/16.jpg"/>	</p>
 			<p><img src="/images/detail/6/17.jpg"/>	</p>
 			<p><img src="/images/detail/6/18.jpg"/>	</p>
 			<p><img src="/images/detail/6/19.jpg"/>	</p>
 			<p><img src="/images/detail/6/20.jpg"/>	</p>
 			<p><img src="/images/detail/6/21.jpg"/>	</p>
        
    </div>

		
</div>