<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<div class="toolbar">
		    <a href="/"><i class="iconfont icon-guanbi"></i></a>
		  </div>
 			<p><img src="/images/detail/28/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>阿胶元浆</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;东阿阿胶</p>
							<p><strong>服务 </strong>&nbsp;产品包装设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        阿胶元浆是东阿阿胶推出的阿胶口服液产品，为适应新的销售平台而推出全新包装。“自经典里来，到生活中去”是东阿阿胶直销业务的出发点，包装用具备认知基础的中国传统水纹纹样作为核心元素，与平台产品统一使用的荷叶纹样搭配，在符合经典形象的调性和包装系统性的基础上做到差异化的表达。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/28/2.jpg"/>	</p>
 			<p><img src="/images/detail/28/3.jpg"/>	</p>
 			
        
    </div>

		
</div>