<div class="row list-teams">
 		<div class="col-xs-12 col-sm-12 col-md-12 team">
 			<p><img src="/images/detail/11/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>祥云设计</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;祥云室内设计事务所</p>
							<p><strong>服务 </strong>&nbsp;品牌形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        祥云室内设计事务所以其出色的新中式与LOFT风格设计受到欢迎，新的事务所迫切需要一个符合其理念与发展前景的企业形象进行传播。大型装饰设计公司因为标准化的设计不符合现在年轻购房者的需求，且材料价格不透明而受诟病，潜在顾客都在寻求能提供个性化和贴心放心服务的家装设计公司。祥云设计满足了这个市场需求，以其出色的设计服务而获得口碑和传播。

标志设计从常识中找到显而易见的设计元素——中国传统祥云纹样来设计“云”字，这是最容易与公司名做认知链接的符号，外形以云朵呈现。新形象延展应用了祥云纹样，并选择清透放松的天蓝与白为主色，具备一定亲和力。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/11/2.jpg"/>	</p>
 			<p><img src="/images/detail/11/3.jpg"/>	</p>
 			<p><img src="/images/detail/11/4.jpg"/>	</p>
 			<p><img src="/images/detail/11/5.jpg"/>	</p>
 			<p><img src="/images/detail/11/6.jpg"/>	</p>
 			<p><img src="/images/detail/11/7.jpg"/>	</p>
 			<p><img src="/images/detail/11/8.jpg"/>	</p>
 			<p><img src="/images/detail/11/9.jpg"/>	</p>
 			<p><img src="/images/detail/11/10.jpg"/>	</p>
 			<p><img src="/images/detail/11/11.jpg"/>	</p>
 			<p><img src="/images/detail/11/12.jpg"/>	</p>
        
    </div>

		
</div>