<div class="row list-teams">
 		<div class="col-xs-12 col-sm-12 col-md-12 team">
 			<p><img src="/images/detail/8/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>壹加壹科技</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;壹加壹科技</p>
							<p><strong>服务 </strong>&nbsp;品牌形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        壹加壹科技提供互联网金融领域的信息化系统建设解决方案，股权交易、信贷平台、基金平台等系统的研发及技术服务。让更多企业能基于互联网、云计算、物联网等技术，促进企业经管网络信息化、智能化。我们为壹加壹科技开发出代表互联网技术的“+”这一品牌核心符号，在标志设计中将它融入“壹”，并用这一核心符号开发出系列延展应用。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/8/2.jpg"/>	</p>
 			<p><img src="/images/detail/8/3.jpg"/>	</p>
 			<p><img src="/images/detail/8/4.jpg"/>	</p>
 			<p><img src="/images/detail/8/5.jpg"/>	</p>
 			<p><img src="/images/detail/8/6.jpg"/>	</p>
 			<p><img src="/images/detail/8/7.jpg"/>	</p>
 			<p><img src="/images/detail/8/8.jpg"/>	</p>
 			<p><img src="/images/detail/8/9.jpg"/>	</p>
 			<p><img src="/images/detail/8/10.jpg"/>	</p>
 			<p><img src="/images/detail/8/11.jpg"/>	</p>
 			<p><img src="/images/detail/8/12.jpg"/>	</p>
        
    </div>

		
</div>