<div class="row list-teams">
 		<div class="col-xs-12 col-sm-12 col-md-12 team">
 			<p><img src="/images/detail/19/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>柏荟国际医学美容</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;柏荟国际医学美容</p>
							<p><strong>服务 </strong>&nbsp;品牌形象升级</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        <p>
			        	柏荟旧有形象使用的欧式花纹及其常见，并无差异性，不利于品牌识别和形成独有的认知。我们在柏荟不需要全面更新形象的前提下，简化现有的表达方式，加入奥黛丽赫本形象和图形元素，为之塑造更清晰的品牌形象。
			        </p>
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/19/2.jpg"/>	</p>
 			<p><img src="/images/detail/19/3.jpg"/>	</p>
 			<p><img src="/images/detail/19/4.jpg"/>	</p>
 			<p><img src="/images/detail/19/5.jpg"/>	</p>
 			<p><img src="/images/detail/19/6.jpg"/>	</p>
 			<p><img src="/images/detail/19/7.jpg"/>	</p>
 			<p><img src="/images/detail/19/8.jpg"/>	</p>
 			<p><img src="/images/detail/19/9.jpg"/>	</p>
 			<p><img src="/images/detail/19/10.jpg"/>	</p>
 			<p><img src="/images/detail/19/11.jpg"/>	</p>
 			<p><img src="/images/detail/19/12.jpg"/>	</p>
 			<p><img src="/images/detail/19/13.jpg"/>	</p>
        
    </div>

		
</div>