<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<div class="toolbar">
		    <a href="/"><i class="iconfont icon-guanbi"></i></a>
		  </div>
 			<p><img src="/images/detail/18/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>中国定位实践论坛</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;北大定位中心</p>
							<p><strong>服务 </strong>&nbsp;会议活动形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        <p>
			        	中国定位实践论坛是中国最具影响力的定位实战论坛，此届主题为“重新定位”。重新定位即新的印记，主题从北大建筑屋檐上的雕梁画栋中汲取图案色彩，以篆刻印章的方式来表现。整体视觉形象以黑色为主色调，源于传统并突破传统。
			        </p>
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/18/2.jpg"/>	</p>
 			<p><img src="/images/detail/18/3.jpg"/>	</p>
 			<p><img src="/images/detail/18/4.jpg"/>	</p>
 			<p><img src="/images/detail/18/5.jpg"/>	</p>
 			<p><img src="/images/detail/18/6.jpg"/>	</p>
 			<p><img src="/images/detail/18/7.jpg"/>	</p>
 			<p><img src="/images/detail/18/8.jpg"/>	</p>
 			<p><img src="/images/detail/18/9.jpg"/>	</p>
 			<p><img src="/images/detail/18/10.jpg"/>	</p>
 			<p><img src="/images/detail/18/11.jpg"/>	</p>
        
    </div>

		
</div>