<div class="row list-teams">
 		<div class="col-xs-12 col-sm-12 col-md-12 team">
 			<p><img src="/images/detail/5/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>道远咨询</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;道远商业不动产</p>
							<p><strong>服务 </strong>&nbsp;品牌形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        道远咨询创始人均在五大行之一的仲量联行有资深的职业背景，深耕于深圳地区商业房地产，公司形象需要给人信赖的稳重感。在中文的语境下，汉字更具传播优势，能做到显而易见的传播。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/5/2.jpg"/>	</p>
 			<p><img src="/images/detail/5/3.jpg"/>	</p>
 			<p><img src="/images/detail/5/4.jpg"/>	</p>
 			<p><img src="/images/detail/5/5.jpg"/>	</p>
 			<p><img src="/images/detail/5/6.jpg"/>	</p>
 			<p><img src="/images/detail/5/7.jpg"/>	</p>
 			<p><img src="/images/detail/5/8.jpg"/>	</p>
 			<p><img src="/images/detail/5/9.jpg"/>	</p>
 			<p><img src="/images/detail/5/10.jpg"/>	</p>
 			<p><img src="/images/detail/5/11.jpg"/>	</p>
 			<p><img src="/images/detail/5/12.jpg"/>	</p>
 			<p><img src="/images/detail/5/13.jpg"/>	</p>
 			<p><img src="/images/detail/5/14.jpg"/>	</p>
        
    </div>

		
</div>