<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<div class="toolbar">
		    <a href="/"><i class="iconfont icon-guanbi"></i></a>
		  </div>
 			<p><img src="/images/detail/15/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>康硒冻干驴奶粉</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;东阿阿胶</p>
							<p><strong>服务 </strong>&nbsp;产品包装设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        冻干驴奶粉是将驴奶除去水分后经过超高压灭菌、冷冻真空干燥等技术而制成，驴奶是天然的富硒食品。冻干驴奶粉品类没有广泛认知，需要与牛奶粉和其他奶粉有所区隔。包装上突出品类名，用驴的形象加强品类印象，关联品牌。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/15/2.jpg"/>	</p>
 			<p><img src="/images/detail/15/3.jpg"/>	</p>
 			<p><img src="/images/detail/15/4.jpg"/>	</p>
 			
        
    </div>

		
</div>