<div class="row list-teams">
 		<div class="col-xs-12 col-sm-12 col-md-12 team">
 			<p><img src="/images/detail/3/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>南书房·夜话</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;深圳图书馆</p>
							<p><strong>服务 </strong>&nbsp;活动形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        南书房位于深圳图书馆东南角，是中国第一个无人管理综合性社群空间。夜话是南书房邀请学者与文人，于晚上七点开讲的文化类讲座活动和读书会。我们为其设计了主题清晰明了又独具人文韵味的字体作为标志，在延展应用中用标点符号为基本元素构成对话框，与主题遥相呼应。整体形象以米白色和好似静谧夜晚的紫色作为主色，凸显“夜话”的文化气息。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/3/10.jpg"/>	</p>
 			<p><img src="/images/detail/3/11.jpg"/>	</p>
 			<p><img src="/images/detail/3/12.jpg"/>	</p>
 			<p><img src="/images/detail/3/13.jpg"/>	</p>
 			<p><img src="/images/detail/3/14.jpg"/>	</p>
 			
        
    </div>

		
</div>