<div class="row list-teams">
 		<div class="col-xs-12 col-sm-12 col-md-12 team">
 			<p><img src="/images/detail/2/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>原上牧牛人</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;原上牧牛人</p>
							<p><strong>服务 </strong>&nbsp;品牌策划、命名及Slogan、品牌形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        <p>
			        	原上牧牛人拥有自营牧场，牛种为安格斯牛。牧场产生是源于扶贫计划，由贫困村村名认领养殖。从牧场到餐桌有专业的冷链配送保证新鲜直达，能控制并且保证牛肉品质。牧牛人有完整的产业链，是生产商和供应商，也是终端消费品牌，是“能坐下吃火锅的牛肉店”。在食品安全越来越受重视和消费升级的当下，能追根溯源的安全食材会得到更多消费者的信任，牧牛人提供真实的牛源信息，消费者可以随时了解到牧场的状况，饲养员的个人信息和资质，以及不同批次牛的详细信息，“吃得明白，才会放心”。

品牌命名“牧牛人”能直观的将品牌形象传达给消费者，“原上”取自“来自草原，品质至上”。New Master选用牛的英文谐音“New”，也是新的意思，Master则是精通和优秀的大师，是一个有优秀手艺的人，New Master直译为新的掌门人。Slogan“自营牧场，放心分享”，“我们的每一头牛都有源可查”，“健康与品质，牧牛人的使命”。

原上牧牛人的标志是能直观强调品牌名的中文字，创意表现为隐含字体中的筷子夹起牛肉的动作。牧牛人采用粗狂的笔画，体现品牌形象的信赖感与可靠，亦予人以亲近感。
			        </p>
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/2/2.jpg"/>	</p>
 			<p><img src="/images/detail/2/3.jpg"/>	</p>
 			<p><img src="/images/detail/2/4.jpg"/>	</p>
 			<p><img src="/images/detail/2/5.jpg"/>	</p>
 			<p><img src="/images/detail/2/6.jpg"/>	</p>
 			<p><img src="/images/detail/2/7.jpg"/>	</p>
 			<p><img src="/images/detail/2/8.jpg"/>	</p>
 			<p><img src="/images/detail/2/9.jpg"/>	</p>
 			<p><img src="/images/detail/2/10.jpg"/>	</p>
 			<p><img src="/images/detail/2/11.jpg"/>	</p>
 			<p><img src="/images/detail/2/12.jpg"/>	</p>
 			<p><img src="/images/detail/2/13.jpg"/>	</p>
 			<p><img src="/images/detail/2/14.jpg"/>	</p>
 			<p><img src="/images/detail/2/15.jpg"/>	</p>
        
    </div>

		
</div>