<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<p><img src="/images/detail/9/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>博影世纪</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;博影世纪影业</p>
							<p><strong>服务 </strong>&nbsp;品牌形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        博影世纪是影视市场的新秀，拥有在香港市场潜行多年的专业成熟团队，主要服务高清电影与影视广告宣传片。形象以窗口和光影来表达宏大世纪交替时的场景。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/9/2.jpg"/>	</p>
 			<p><img src="/images/detail/9/3.jpg"/>	</p>
 			<p><img src="/images/detail/9/4.jpg"/>	</p>
 			<p><img src="/images/detail/9/5.jpg"/>	</p>
 			<p><img src="/images/detail/9/6.jpg"/>	</p>
 			<p><img src="/images/detail/9/7.jpg"/>	</p>
 			<p><img src="/images/detail/9/8.jpg"/>	</p>
 			<p><img src="/images/detail/9/9.jpg"/>	</p>
 			<p><img src="/images/detail/9/10.jpg"/>	</p>
 			<p><img src="/images/detail/9/11.jpg"/>	</p>
 			<p><img src="/images/detail/9/12.jpg"/>	</p>
 			<p><img src="/images/detail/9/13.jpg"/>	</p>
        
    </div>

		
</div>