<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<div class="toolbar">
		    <a href="/"><i class="iconfont icon-guanbi"></i></a>
		  </div>
 			<p><img src="/images/detail/23/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>飞鹤奶粉</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;飞鹤乳业</p>
							<p><strong>服务 </strong>&nbsp;系列产品包装更新设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        <p>
			        	飞鹤乳业始建于1962年，从美丽的"鹤城"齐齐哈尔起飞，迄今已有50余年专业乳品制造历史，是中国最早的奶粉生产企业之一。飞鹤专注于婴幼儿奶粉的研发和生产制造，旗下拥有星飞帆、超级飞帆、飞帆等系列产品，被誉为最安全的婴幼儿奶粉品牌，是拥有最完整全产业链的婴幼儿奶粉企业，并创造了五十余年的安全生产纪录。此次更新包装以“更适合中国宝宝”的定位，主要围绕两方面设计，一是“核心形象”，二是“色彩策略”。在固有认知之上重新梳理信息呈现逻辑，打造单一视觉焦点的视觉锤，建立多品统一风格的家族感。
			        </p>
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/23/2.jpg"/>	</p>
 			<p><img src="/images/detail/23/3.jpg"/>	</p>
 			<p><img src="/images/detail/23/4.jpg"/>	</p>
 			<p><img src="/images/detail/23/5.jpg"/>	</p>
 			<p><img src="/images/detail/23/6.jpg"/>	</p>
 			<p><img src="/images/detail/23/7.jpg"/>	</p>
 			<p><img src="/images/detail/23/8.jpg"/>	</p>
 			
        
    </div>

		
</div>