<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<p><img src="/images/detail/24/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>昂德生物药</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;东阿阿胶</p>
							<p><strong>服务 </strong>&nbsp;产品包装设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        德国科技感是此次设计需要传达的信号，优质的材质和工艺，以及反其道而行之的黑色应用，使顾客在接触到包装产生对德国科技的信赖的定位反应。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/24/2.jpg"/>	</p>
 			<p><img src="/images/detail/24/3.jpg"/>	</p>
 			<p><img src="/images/detail/24/4.jpg"/>	</p>
 			<p><img src="/images/detail/24/5.jpg"/>	</p>
 			<p><img src="/images/detail/24/6.jpg"/>	</p>
 			
        
    </div>

		
</div>