<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<p><img src="/images/detail/29/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>Dunland</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;喜地山集团</p>
							<p><strong>服务 </strong>&nbsp;品牌形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        Dunland是喜地山集团旗下的时尚商务男装品牌，产品设计引自意大利的西服版型剪裁，线条明朗、流利而简练。基于Dunland的品牌定位和属性的整体考虑，标志以字体为主，辅加清晰明朗的图形标志。字体设计使用有节奏感的小写，经过精雕细刻的精心设计，具有强烈品牌个性与识别性，准确演绎其商务时尚的品牌特性。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/29/2.jpg"/>	</p>
 			<p><img src="/images/detail/29/3.jpg"/>	</p>
 			<p><img src="/images/detail/29/4.jpg"/>	</p>
 			<p><img src="/images/detail/29/5.jpg"/>	</p>
 			<p><img src="/images/detail/29/6.jpg"/>	</p>
 			<p><img src="/images/detail/29/7.jpg"/>	</p>
 			<p><img src="/images/detail/29/8.jpg"/>	</p>
 			<p><img src="/images/detail/29/9.jpg"/>	</p>
 			<p><img src="/images/detail/29/10.jpg"/>	</p>
 			<p><img src="/images/detail/29/11.jpg"/>	</p>
 			<p><img src="/images/detail/29/12.jpg"/>	</p>
 			<p><img src="/images/detail/29/13.jpg"/>	</p>
 			<p><img src="/images/detail/29/14.jpg"/>	</p>
 			<p><img src="/images/detail/29/15.jpg"/>	</p>
 			<p><img src="/images/detail/29/16.jpg"/>	</p>
 			<p><img src="/images/detail/29/17.jpg"/>	</p>
        
    </div>

		
</div>