<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<div class="toolbar">
		    <a href="/"><i class="iconfont icon-guanbi"></i></a>
		  </div>
 			<p><img src="/images/detail/14/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>道荷直销平台</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;东阿阿胶</p>
							<p><strong>服务 </strong>&nbsp;品牌形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        为打造全渠道经营模式，同时区分传统渠道的营销与管理，保护东阿阿胶的原品牌与市场，而推出道荷直销平台。在申请商务部作为直销产品的保健食品，都已在传统渠道或电商平台销售，在直销行业实属“开创先河”，也将成为东阿阿胶在渠道创新，树立“变革标杆企业”的新创举。形象设计以“道本天然，菩提颐荷”为理念。道家崇尚天然，上善若水，形象是朵荷叶，纯净如水般泛起涟漪，润得万里荷香。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/14/2.jpg"/>	</p>
 			<p><img src="/images/detail/14/3.jpg"/>	</p>
 			<p><img src="/images/detail/14/4.jpg"/>	</p>
 			<p><img src="/images/detail/14/5.jpg"/>	</p>
 			<p><img src="/images/detail/14/6.jpg"/>	</p>
 			<p><img src="/images/detail/14/7.jpg"/>	</p>
 			<p><img src="/images/detail/14/8.jpg"/>	</p>
 			<p><img src="/images/detail/14/9.jpg"/>	</p>
 			<p><img src="/images/detail/14/10.jpg"/>	</p>
        
    </div>

		
</div>