<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<p><img src="/images/detail/16/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>豫泉</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;豫泉净水</p>
							<p><strong>服务 </strong>&nbsp;品牌形象升级</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        <p>
			        	豫泉创立于1987年，以水处理技术为核心，集水处理化学品技术与服务、水处理系统运营管理服务、水处理技术服务等为一体的综合服务体系。豫泉在钢铁冶金、石油化工、纺织印染、五金电镀、制浆造纸等工业水处理领域和市政水处理市场形成一定的品牌知名度和核心竞争力。在水处理领域服务了中滔集团、粤海水务集团、桑德集团、东糖集团、 豪丰环保、方中水务等。

豫泉需要足够简单的认知符号，越简单便越容易在人心里产生烙印。我们基于认知常识，在字体标志中融入最容易与品牌名做认知链接的符号——流动波浪形，并由流动波浪形开发出整套图形延展的应用风格。
			        </p>
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/16/2.jpg"/>	</p>
 			<p><img src="/images/detail/16/3.jpg"/>	</p>
 			<p><img src="/images/detail/16/4.jpg"/>	</p>
 			<p><img src="/images/detail/16/5.jpg"/>	</p>
 			<p><img src="/images/detail/16/6.jpg"/>	</p>
 			<p><img src="/images/detail/16/7.jpg"/>	</p>
 			<p><img src="/images/detail/16/8.jpg"/>	</p>
 			<p><img src="/images/detail/16/9.jpg"/>	</p>
 			<p><img src="/images/detail/16/10.jpg"/>	</p>
 			<p><img src="/images/detail/16/11.jpg"/>	</p>
 			<p><img src="/images/detail/16/12.jpg"/>	</p>
 			<p><img src="/images/detail/16/13.jpg"/>	</p>
 			<p><img src="/images/detail/16/14.jpg"/>	</p>
 			<p><img src="/images/detail/16/15.jpg"/>	</p>
 			<p><img src="/images/detail/16/16.jpg"/>	</p>
 			<p><img src="/images/detail/16/17.jpg"/>	</p>
        
    </div>

		
</div>