<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<p><img src="/images/detail/27/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>墨缘</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;一览网络股份</p>
							<p><strong>服务 </strong>&nbsp;品牌形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        墨缘是首款基于学习型团体而倾力打造的社交平台，在上面你可以学习交流和共享资源，并且有丰富精彩的活动，可在APP和PC等不同端口使用。墨缘的标志为具有墨韵气息的汉字，传递品牌讯息同时保持清晰可读。图形元素的开发则是取其汇聚交流、学习共享之意。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/27/2.jpg"/>	</p>
 			<p><img src="/images/detail/27/3.jpg"/>	</p>
 			<p><img src="/images/detail/27/4.jpg"/>	</p>
 			<p><img src="/images/detail/27/5.jpg"/>	</p>
 			<p><img src="/images/detail/27/6.jpg"/>	</p>
 			<p><img src="/images/detail/27/7.jpg"/>	</p>
 			<p><img src="/images/detail/27/8.jpg"/>	</p>
 			<p><img src="/images/detail/27/9.jpg"/>	</p>
 			<p><img src="/images/detail/27/10.jpg"/>	</p>
 			<p><img src="/images/detail/27/11.jpg"/>	</p>
 			<p><img src="/images/detail/27/12.jpg"/>	</p>
 			<p><img src="/images/detail/27/13.jpg"/>	</p>
 			<p><img src="/images/detail/27/14.jpg"/>	</p>
 			<p><img src="/images/detail/27/15.jpg"/>	</p>
        
    </div>

		
</div>