<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<p><img src="/images/detail/20/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>深圳室内设计师协会十周年庆典</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;深圳室内设计师协会</p>
							<p><strong>服务 </strong>&nbsp;活动形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        深圳室内设计师协会是经深圳市民政局、深圳市科协批准成立的以深圳室内设计师为主体的专业性、非营利性社会团体，是深圳市一级协会，简称SZAID。十周年是具有里程意义的，标志如时间年轮般记录着时光流转，最后定格在这个值得纪念的重要时刻。时间年轮，其包含了对过去十年的回顾和对未来的期许，生生不息。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/20/2.jpg"/>	</p>
 			<p><img src="/images/detail/20/3.jpg"/>	</p>
 			<p><img src="/images/detail/20/4.jpg"/>	</p>
 			<p><img src="/images/detail/20/5.jpg"/>	</p>
 			<p><img src="/images/detail/20/6.jpg"/>	</p>
 			<p><img src="/images/detail/20/7.jpg"/>	</p>
 			
        
    </div>

		
</div>