<div class="row list-teams">
 		<div class="col-xs-12 col-sm-12 col-md-12 team">
 			<p><img src="/images/detail/30/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>一览英才网</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;一览网络股份</p>
							<p><strong>服务 </strong>&nbsp;品牌形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        一览英才网立足于专业细分招聘，从行业细分服务开始，目前已经初步发展成为基于一览英才网招聘网站平台，从行业细分、区域细分和职位细分的专业服务的立体服务格局。是最具发展潜力的招聘网站，近几年在确保盈利的基础上每年保持超过100%的增长率，被誉为网络招聘行业最强的黑马，是目前国内最大的细分招聘网站。
互联网有着海量信息且呈指数级增长，标志必须用最直接的方式以降低传播成本。一览品牌形象从标志到延展应用都足够简洁大方，令人印象深刻。颜色继承自一览原有的色彩，并对旗下各子品牌采用了系统性的字体设计
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/30/2.jpg"/>	</p>
 			<p><img src="/images/detail/30/3.jpg"/>	</p>
 			<p><img src="/images/detail/30/4.jpg"/>	</p>
 			<p><img src="/images/detail/30/5.jpg"/>	</p>
 			<p><img src="/images/detail/30/6.jpg"/>	</p>
 			<p><img src="/images/detail/30/7.jpg"/>	</p>
 			<p><img src="/images/detail/30/8.jpg"/>	</p>
 			<p><img src="/images/detail/30/9.jpg"/>	</p>
        
    </div>

		
</div>