<div class="row list-teams">
 		<div class="col-md-1"></div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team">
 			<p><img src="/images/detail/10/1.jpg"/>	</p>
 			<div class="row">
	    		<div class="col-sm-3 col-xs-5 col-lg-2 text-left">
	    				<p><strong>爱者钻石</strong></p>
							<p>-</p>
							<p><strong>客户 </strong>&nbsp;爱度品钻</p>
							<p><strong>服务 </strong>&nbsp;品牌形象设计</p>
			    </div>
			    <div class="col-sm-9 col-xs-7 col-lg-10 text-left">
			        协助爱者将在外部市场竞争环境中确立的价值独特的优势定位，通过品牌形象设计传达。简单清晰、经久不变的设计将会在持续的传播中为品牌建立可持续竞争的认知优势。
			    </div>
	    </div>
 			
 			<p><img src="/images/detail/10/2.jpg"/>	</p>
 			<p><img src="/images/detail/10/3.jpg"/>	</p>
 			<p><img src="/images/detail/10/4.jpg"/>	</p>
 			<p><img src="/images/detail/10/5.jpg"/>	</p>
 			<p><img src="/images/detail/10/6.jpg"/>	</p>
 			<p><img src="/images/detail/10/7.jpg"/>	</p>
 			<p><img src="/images/detail/10/8.jpg"/>	</p>
 			<p><img src="/images/detail/10/9.jpg"/>	</p>
 			<p><img src="/images/detail/10/10.jpg"/>	</p>
        
    </div>

		
</div>