
<div class="container about">
	

 	<div class="row list-teams">
 		<div class="col-xs-12 col-sm-12 col-md-12 team container1">
        <img src="/images/about.png" class=" grayscale" />
        <!-- <div class="banner"></div> -->
    </div>

	</div>
		<p>香蕉设计是一家年轻、新锐、极具创意的设计机构。我们专注设计的差异化，从每个项目寻找创作灵感，赋予每件作品独一无二的个性基因。</p>  
	 <p>我们享受设计事业的乐趣和意义，将内心的快乐融入作品，在创造独特品牌价值的同时，积极创造愉悦的体验。多年扎实的项目经验，给予了我们自如跨越不同设计领域的能力。我们不忘初心，发掘新意，做到与众不同，始终致力于为客户提供更丰富、更细致、更卓越的服务。</p>  
	 <p>迄今，香蕉设计已成功为超过200家国内外企业提供专业设计服务，且荣获国内外五十余项设计奖。客户包括Microsoft、Corel公司、斯巴鲁汽车、腾讯、OPPO、洁碧、华侨城集团、华润集团、雷柏科技、卡仕、欢乐颂购物中心、海岸城购物中心等。</p> 
</div>