
<div class="container about">
	

 	<div class="row list-teams">
 		<div class="col-xs-12 col-sm-12 col-md-1">
 		</div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team container1">
        <img src="/images/about.png" class=" grayscale" />
        <!-- <div class="banner"></div> -->
    </div>

	</div>

	<div class="row list-teams">
 		<div class="col-xs-12 col-sm-12 col-md-1">
 		</div>
 		<div class="col-xs-12 col-sm-12 col-md-10 team container">
			<p>本原设计是一家年轻、新锐、独具主张的品牌设计服务机构。</p>
			<p>本原设计坚持“协助策略，创新系统化设计，提升品牌价值”的设计理念。</p>
			<p>提供符合客户商业模式的设计服务。探寻品牌的心智资源来构建认知，用符合品牌认知的方式打造品牌形象，体现品牌价值，为客户品牌建立可持续的成长。
			</p>
			<p>我们擅长以有效差异化的方式呈现品牌，展现品牌符合心智认知的唯一性，并以此实现品牌溢价。成就客户品牌，是我们恪守的专业理念。</p>

    </div>

	</div>
		
</div>