
<div class="container detail">
	
	{{#compare id '==' '1'}}
     {{> detail_01}}
  {{/compare}}

  {{#compare id '==' '3'}}
     {{> detail_03}}
  {{/compare}}

  {{#compare id '==' '6'}}
     {{> detail_06}}
  {{/compare}}
  
  {{#compare id '==' '7'}}
     {{> detail_07}}
  {{/compare}}

	{{#compare id '==' '8'}}
     {{> detail_08}}
  {{/compare}}

	{{#compare id '==' '9'}}
     {{> detail_09}}
  {{/compare}}
	
	{{#compare id '==' '12'}}
     {{> detail_12}}
  {{/compare}}

  {{#compare id '==' '13'}}
     {{> detail_13}}
  {{/compare}}

  {{#compare id '==' '17'}}
     {{> detail_17}}
  {{/compare}}
  
  {{#compare id '==' '20'}}
     {{> detail_20}}
  {{/compare}}

  {{#compare id '==' '22'}}
     {{> detail_22}}
  {{/compare}}

  {{#compare id '==' '25'}}
     {{> detail_25}}
  {{/compare}}

	{{#compare id '==' '26'}}
     {{> detail_26}}
  {{/compare}}

  {{#compare id '==' '27'}}
     {{> detail_27}}
  {{/compare}}
  
  {{#compare id '==' '29'}}
     {{> detail_29}}
  {{/compare}}

  {{#compare id '==' '30'}}
     {{> detail_30}}
  {{/compare}}
	
 	
</div>