{{#contentFor "headerCSS"}}
  <link rel="stylesheet" href="//at.alicdn.com/t/font_8eo8aa3moq88h0k9.css">
{{/contentFor}}
<div class="container detail">
	
 	<div class="row list-teams">
      <div class="col-md-1"></div>
      <div class="col-xs-12 col-sm-12 col-md-10 team">
        <div class="toolbar">
          <a href="/"><i class="iconfont icon-guanbi"></i></a>
        </div>
        <p><img src="/images/detail/{{detail.id}}/1.jpg"/> </p>
        {{#compare detail.title '!=' ''}}
           <div class="row">
              <div class="col-sm-3 col-xs-5 col-lg-2 text-left">
                  <p><strong>{{detail.title}}</strong></p>
                  <p>-</p>
                  <p><strong>客户 </strong>&nbsp;{{detail.customer}}</p>
                  <p><strong>服务 </strong>&nbsp;{{detail.service}}</p>
              </div>
              <div class="col-sm-9 col-xs-7 col-lg-10 text-left description">
                  {{detail.description}}
              </div>
          </div>
        {{/compare}}
        
        {{#each detail.images}}
          {{#compare this '!=' '1'}}
            <p><img src="/images/detail/{{../detail.id}}/{{this}}.jpg"/> </p>
          {{/compare}}
          
        {{/each}}
      </div>

      
  </div>
  

</div>
{{#contentFor "footerJS"}}
  <script src='//unpkg.com/masonry-layout@4.1.1/dist/masonry.pkgd.js'></script>
  <script src='//cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js'></script>
  <script>
    $(function(){   
      resizeMethod(); 
      $(window).resize(function() { 
        resizeMethod();
      });
      function resizeMethod(){
        var obj = $('.detail');
        var left = obj.width() + obj.offset().left + 50;
        $('.toolbar').css({'left': left + 'px', 'top': '118px', 'position': 'fixed'});
      }

    });  
  </script>
{{/contentFor}}