{{#contentFor "headerCSS"}}
	<link rel="stylesheet" href="/stylesheets/index.css">
{{/contentFor}}



<div id="container" class="container">    
 	<div class="col-xs-12 col-sm-12 col-md-12 ">
        	 <div class="item w1 h1"><img class="small" src="/images/t/index_01.png" data-original="/images/index_01.png"></div>  
					 <div class="item w2 h2"><img class="small" src="/images/t/index_02.png" data-original="/images/index_02.png"></div> 
					 <div class="item w3 h3"><img class="small" src="/images/t/index_03.png" data-original="/images/index_03.png"></div>  
					 <div class="item w2 h4"><img class="small" src="/images/t/index_04.png" data-original="/images/index_04.png"></div> 
					 <div class="item w2 h5"><img class="small" src="/images/t/index_05.png" data-original="/images/index_05.png"></div>  
					 <div class="item w2 h4"><img class="small" src="/images/t/index_06.png" data-original="/images/index_06.png"></div> 
					 <div class="item w1 h7"><img class="small" src="/images/t/index_07.png" data-original="/images/index_07.png"></div>  
					 <div class="item w3 h8"><img class="small" src="/images/t/index_08.png" data-original="/images/index_08.png"></div> 
					 <div class="item w2 h4"><img class="small" src="/images/t/index_09.png" src="/images/loading.gif" data-original="/images/index_09.png"></div>  
					 <div class="item w2 h4"><img class="small" src="/images/t/index_10.png" src="/images/loading.gif" data-original="/images/index_10.png"></div>

					 <div class="item w3 h11"><img class="small" src="/images/t/index_11.png" data-original="/images/index_11.png"></div>  
					 <div class="item w2 h12"><img class="small" src="/images/t/index_12.png" data-original="/images/index_12.png"></div> 
					 <div class="item w2 h13"><img class="small" src="/images/t/index_13.png" data-original="/images/index_13.png"></div>  
					 <div class="item w2 h14"><img class="small" src="/images/t/index_14.png" data-original="/images/index_14.png"></div> 
					 <div class="item w2 h15"><img class="small" src="/images/t/index_15.png" data-original="/images/index_15.png"></div>  
					 <div class="item w2 h16"><img class="small" src="/images/t/index_16.png" data-original="/images/index_16.png"></div> 
					 <div class="item w3 h11"><img class="small" src="/images/t/index_17.png" data-original="/images/index_17.png"></div>  
					 <div class="item w2 h18"><img class="small" src="/images/t/index_18.png" data-original="/images/index_18.png"></div> 
					 <div class="item w2 h18"><img class="small" src="/images/t/index_19.png" data-original="/images/index_19.png"></div>  
					 <div class="item w1 h20"><img class="small" src="/images/t/index_20.png" data-original="/images/index_20.png"></div>




					 <div class="item w3 h7"><img class="small" src="/images/t/index_21.png" data-original="/images/index_21.png"></div>
					 <div class="item w3 h22"><img class="small" src="/images/t/index_22.png" data-original="/images/index_22.png"></div>
					 <div class="item w1 h20"><img class="small" src="/images/t/index_23.png" data-original="/images/index_23.png"></div>
					 <div class="item w3 h22"><img class="small" src="/images/t/index_24.png" data-original="/images/index_24.png"></div>
					 <div class="item w2 h20"><img class="small" src="/images/t/index_25.png" data-original="/images/index_25.png"></div>
					 <div class="item w2 h4"><img class="small" src="/images/t/index_26.png" data-original="/images/index_26.png"></div>
					 <div class="item w2 h20"><img class="small" src="/images/t/index_27.png" data-original="/images/index_27.png"></div>
					 <div class="item w2 h4"><img class="small" src="/images/t/index_28.png" data-original="/images/index_28.png"></div>
					 <div class="item w1"><img class="small" src="/images/t/index_29.png" data-original="/images/index_29.png"></div>
					 <div class="item w3 h30"><img class="small" src="/images/t/index_30.png" data-original="/images/index_30.png"></div>

 </div>

</div> 

{{#contentFor "footerJS"}}
	<script src='//unpkg.com/masonry-layout@4.1.1/dist/masonry.pkgd.js'></script>
	<script src='//cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js'></script>
  <script>
		$(function(){    
		  // $("body").css("overflow", "auto");

			setTimeout(function(){
				
				// $("body").removeClass("o-hide");
				
				var isLoading = false;

				f_masonry();
				$("img").lazyload({
					effect:"fadeIn",
					failurelimit:40,
					load:f_masonry,
				});

				function f_masonry() {
					function detectmob() {
		          return navigator.userAgent.match(/Android/i)
		                  || navigator.userAgent.match(/webOS/i)
		                  || navigator.userAgent.match(/iPhone/i)
		                  || navigator.userAgent.match(/BlackBerry/i)
		                  || navigator.userAgent.match(/Windows Phone/i);
		      }
		      if (detectmob()) {
		        $('#container').masonry({singleMode: true,animate: true,itemSelector:'.item'}); 
		      }else{
		      	$('#container').masonry({singleMode: true,animate: true,itemSelector:'.item', isFitWidth: true, columnWidth: 200});  
		      }
		      if(!isLoading){
		      	$(".pre-loading").hide();
		      	isLoading = true;
		      }
				}
			}, 1000);

		});  
	</script>
{{/contentFor}}