{{#contentFor "headerCSS"}}
	<link rel="stylesheet" href="/stylesheets/index.css">
{{/contentFor}}



<div id="container" class="container">    
 	<div class="col-xs-12 col-sm-12 col-md-12 ">

					{{#each list}}
						<div class="item {{className}}"><a href="/detail/{{id}}"><img class="small" src="/images/t/index_{{indexNo}}.png" data-original="/images/index_{{indexNo}}.png"></a>
						<div class="tipbg" data-url='/detail/{{id}}'>
							<div class="tiptxt {{tipClassName}}">
								<p class="title"><strong>{{title}}</strong> </p>
								<p class="txt"><strong>{{service}}</strong></p>
							</div>
						</div>
        	 </div> 
					{{/each}}

 </div>

</div> 

{{#contentFor "footerJS"}}
	<script src='//unpkg.com/masonry-layout@4.1.1/dist/masonry.pkgd.js'></script>
	<script src='//cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js'></script>
  <script>
		$(function(){    
		  // $("body").css("overflow", "auto");

			setTimeout(function(){
				
				// $("body").removeClass("o-hide");
				
				var isLoading = false;

				f_masonry();
				$("img").lazyload({
					effect:"fadeIn",
					failurelimit:40,
					load:f_masonry,
				});

				function f_masonry() {
					function detectmob() {
		          return navigator.userAgent.match(/Android/i)
		                  || navigator.userAgent.match(/webOS/i)
		                  || navigator.userAgent.match(/iPhone/i)
		                  || navigator.userAgent.match(/BlackBerry/i)
		                  || navigator.userAgent.match(/Windows Phone/i);
		      }
		      if (detectmob()) {
		        $('#container').masonry({singleMode: true,animate: true,itemSelector:'.item'}); 
		      }else{
		      	$('#container').masonry({singleMode: true,animate: true,itemSelector:'.item', isFitWidth: true, columnWidth: 200});  
		      }
		      if(!isLoading){
		      	$(".pre-loading").hide();
		      	isLoading = true;
		      }
				}
				
				$('.tipbg').on('click', function(e){  
						var obj = $(e.currentTarget);
						location.href = obj.data('url'); 
				}); 

			}, 5000);

		});  
	</script>
{{/contentFor}}