{{#contentFor "headerCSS"}}
	<link rel="stylesheet" href="/stylesheets/index.css">
{{/contentFor}}



<div id="container" class="container">    
 	<div class="col-xs-12 col-sm-12 col-md-12 ">
        	 <div class="item w1 h1"><a href="/detail/1"><img class="small" src="/images/t/index_01.png" data-original="/images/index_01.png"></a>
						<div class="tipbg" data-url='/detail/1'>
							<div class="tiptxt">
								<p class="title"><strong>丝书设计邀请展</strong> </p>
								<p class="txt"><strong>展览活动形象设计</strong></p>
							</div>
						</div>
        	 </div>  
					 <div class="item w2 h2"><a href="/detail/2"><img class="small" src="/images/t/index_02.png" data-original="/images/index_02.png"></a>
						<div class="tipbg" data-url='/detail/2'>
							<div class="tiptxt">
								<p class="title"><strong>原上牧牛人</strong> </p>
								<p class="txt"><strong>品牌策划、命名及Slogan、品牌形象设计</strong></p>
							</div>
						</div>
					 </div> 
					 <div class="item w3 h3"><a href="/detail/3"><img class="small" src="/images/t/index_03.png" data-original="/images/index_03.png"></a>
						<div class="tipbg" data-url='/detail/3'>
							<div class="tiptxt">
								<p class="title"><strong>南书房·夜话</strong> </p>
								<p class="txt"><strong>活动形象设计</strong></p>
							</div>
						</div>
					 </div>  
					 <div class="item w2 h4"><a href="/detail/4"><img class="small" src="/images/t/index_04.png" data-original="/images/index_04.png"></a>
							<div class="tipbg" data-url='/detail/4'>
							<div class="tiptxt">
								<p class="title"><strong>Peak Top Beri</strong> </p>
								<p class="txt"><strong>品牌形象设计</strong></p>
							</div>
						</div>
					 </div> 
					 <div class="item w2 h5"><a href="/detail/5"><img class="small" src="/images/t/index_05.png" data-original="/images/index_05.png"></a>
							<div class="tipbg" data-url='/detail/5'>
							<div class="tiptxt">
								<p class="title"><strong>道远咨询</strong> </p>
								<p class="txt"><strong>活动形象设计</strong></p>
							</div>
						</div>
					 </div> 
					 <div class="item w2 h4"><a href="/detail/6"><img class="small" src="/images/t/index_06.png" data-original="/images/index_06.png"></a>
							<div class="tipbg" data-url='/detail/6'>
							<div class="tiptxt">
								<p class="title"><strong>宏达秋科技</strong> </p>
								<p class="txt"><strong>品牌形象升级</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w1 h7"><a href="/detail/7"><img class="small" src="/images/t/index_07.png" data-original="/images/index_07.png"></a>
							<div class="tipbg" data-url='/detail/7'>
							<div class="tiptxt">
								<p class="title"><strong>新西兰蓝莓原浆</strong> </p>
								<p class="txt"><strong>产品包装设计</strong></p>
							</div>
						</div>
					 </div>  
					 <div class="item w8 h8"><a href="/detail/8"><img class="small" src="/images/t/index_08.png" data-original="/images/index_08.png"></a>
							<div class="tipbg" data-url='/detail/8'>
							<div class="tiptxt">
								<p class="title"><strong>壹加壹科技</strong> </p>
								<p class="txt"><strong>品牌形象设计</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w2 h4"><a href="/detail/9"><img class="small" src="/images/t/index_09.png" src="/images/loading.gif" data-original="/images/index_09.png"></a>
							<div class="tipbg" data-url='/detail/9'>
							<div class="tiptxt">
								<p class="title"><strong>博影世纪</strong> </p>
								<p class="txt"><strong>活动形象设计</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w2 h4"><a href="/detail/10"><img class="small" src="/images/t/index_10.png" src="/images/loading.gif" data-original="/images/index_10.png"></a>
							<div class="tipbg" data-url='/detail/10'>
							<div class="tiptxt">
								<p class="title"><strong>爱者钻石</strong> </p>
								<p class="txt"><strong>品牌形象设计</strong></p>
							</div>
						</div>
					 </div>

					 <div class="item w8 h11"><a href="/detail/11"><img class="small" src="/images/t/index_11.png" data-original="/images/index_11.png"></a>
							<div class="tipbg" data-url='/detail/11'>
							<div class="tiptxt">
								<p class="title"><strong>祥云设计</strong> </p>
								<p class="txt"><strong>品牌形象设计</strong></p>
							</div>
						</div>
					 </div>  
					 <div class="item w2 h12"><a href="/detail/12"><img class="small" src="/images/t/index_12.png" data-original="/images/index_12.png"></a>
							<div class="tipbg" data-url='/detail/12'>
							<div class="tiptxt">
								<p class="title"><strong>五季梦</strong> </p>
								<p class="txt"><strong>品牌形象升级</strong></p>
							</div>
						</div>
					 </div> 
					 <div class="item w2 h13"><a href="/detail/13"><img class="small" src="/images/t/index_13.png" data-original="/images/index_13.png"></a>
							<div class="tipbg" data-url='/detail/13'>
							<div class="tiptxt">
								<p class="title"><strong>samcien</strong> </p>
								<p class="txt"><strong>活动形象设计</strong></p>
							</div>
						</div>
					 </div> 
					 <div class="item w8 h14"><a href="/detail/14"><img class="small" src="/images/t/index_14.png" data-original="/images/index_14.png"></a>
							<div class="tipbg" data-url='/detail/14'>
							<div class="tiptxt">
								<p class="title"><strong>道荷直销平台</strong> </p>
								<p class="txt"><strong>品牌形象设计</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w2 h15"><a href="/detail/15"><img class="small" src="/images/t/index_15.png" data-original="/images/index_15.png"></a>
							<div class="tipbg" data-url='/detail/15'>
							<div class="tiptxt">
								<p class="title"><strong>康硒冻干驴奶粉</strong> </p>
								<p class="txt"><strong>产品包装设计</strong></p>
							</div>
						</div>
					 </div>  
					 <div class="item w2 h16"><a href="/detail/16"><img class="small" src="/images/t/index_16.png" data-original="/images/index_16.png"></a>
							<div class="tipbg" data-url='/detail/16'>
							<div class="tiptxt">
								<p class="title"><strong>豫泉</strong> </p>
								<p class="txt"><strong>品牌形象升级</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w8 h17"><a href="/detail/17"><img class="small" src="/images/t/index_17.png" data-original="/images/index_17.png"></a>
							<div class="tipbg" data-url='/detail/17'>
							<div class="tiptxt">
								<p class="title"><strong>南书房·夜话</strong> </p>
								<p class="txt"><strong>活动形象设计</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w2 h18"><a href="/detail/18"><img class="small" src="/images/t/index_18.png" data-original="/images/index_18.png"></a>
							<div class="tipbg" data-url='/detail/18'>
							<div class="tiptxt">
								<p class="title"><strong>中国定位实践论坛</strong> </p>
								<p class="txt"><strong>会议活动形象设计</strong></p>
							</div>
						</div>
					 </div> 
					 <div class="item w2 h18"><a href="/detail/19"><img class="small" src="/images/t/index_19.png" data-original="/images/index_19.png"></a>
							<div class="tipbg" data-url='/detail/19'>
							<div class="tiptxt">
								<p class="title"><strong>柏荟国际医学美容</strong> </p>
								<p class="txt"><strong>品牌形象升级</strong></p>
							</div>
						</div>
					 </div> 
					 <div class="item w1 h20"><a href="/detail/20"><img class="small" src="/images/t/index_20.png" data-original="/images/index_20.png"></a>
							<div class="tipbg" data-url='/detail/20'>
							<div class="tiptxt">
								<p class="title"><strong>深圳室内设计师协会十周年庆典</strong> </p>
								<p class="txt"><strong>活动形象设计</strong></p>
							</div>
						</div>
					 </div>




					 <div class="item w8 h21"><a href="/detail/21"><img class="small" src="/images/t/index_21.png" data-original="/images/index_21.png"></a>
							<div class="tipbg" data-url='/detail/21'>
							<div class="tiptxt">
								<p class="title"><strong>钻石大管家</strong> </p>
								<p class="txt"><strong>品牌形象设计</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w8 h22"><a href="/detail/22"><img class="small" src="/images/t/index_22.png" data-original="/images/index_22.png"></a>
							<div class="tipbg" data-url='/detail/22'>
							<div class="tiptxt">
								<p class="title"><strong>Samyee叁壹</strong> </p>
								<p class="txt"><strong>品牌形象设计</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w1 h23"><a href="/detail/23"><img class="small" src="/images/t/index_23.png" data-original="/images/index_23.png"></a>
							<div class="tipbg" data-url='/detail/23'>
							<div class="tiptxt">
								<p class="title"><strong>飞鹤奶粉</strong> </p>
								<p class="txt"><strong>系列产品包装更新设计</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w8 h22"><a href="/detail/24"><img class="small" src="/images/t/index_24.png" data-original="/images/index_24.png"></a>
							<div class="tipbg" data-url='/detail/24'>
							<div class="tiptxt">
								<p class="title"><strong>昂德生物药</strong> </p>
								<p class="txt"><strong>产品包装设计</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w8 h20"><a href="/detail/25"><img class="small" src="/images/t/index_25.png" data-original="/images/index_25.png"></a>
							<div class="tipbg" data-url='/detail/25'>
							<div class="tiptxt">
								<p class="title"><strong>Lovefull</strong> </p>
								<p class="txt"><strong>品牌形象设计</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w2 h4"><a href="/detail/26"><img class="small" src="/images/t/index_26.png" data-original="/images/index_26.png"></a>
							<div class="tipbg" data-url='/detail/26'>
							<div class="tiptxt">
								<p class="title"><strong>亚馨信贷</strong> </p>
								<p class="txt"><strong>品牌形象设计</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w2 h20"><a href="/detail/27"><img class="small" src="/images/t/index_27.png" data-original="/images/index_27.png"></a>
							<div class="tipbg" data-url='/detail/27'>
							<div class="tiptxt">
								<p class="title"><strong>墨缘</strong> </p>
								<p class="txt"><strong>品牌形象设计</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w2 h4"><a href="/detail/28"><img class="small" src="/images/t/index_28.png" data-original="/images/index_28.png"></a>
							<div class="tipbg" data-url='/detail/28'>
							<div class="tiptxt">
								<p class="title"><strong>阿胶元浆</strong> </p>
								<p class="txt"><strong>产品包装设计</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w1 h29"><a href="/detail/29"><img class="small" src="/images/t/index_29.png" data-original="/images/index_29.png"></a>
							<div class="tipbg" data-url='/detail/29'>
							<div class="tiptxt">
								<p class="title"><strong>Dunland</strong> </p>
								<p class="txt"><strong>品牌形象设计</strong></p>
							</div>
						</div>
					 </div>
					 <div class="item w8 h30"><a href="/detail/30"><img class="small" src="/images/t/index_30.png" data-original="/images/index_30.png"></a>
							<div class="tipbg" data-url='/detail/30'>
							<div class="tiptxt">
								<p class="title"><strong>一览英才网</strong> </p>
								<p class="txt"><strong>品牌形象设计</strong></p>
							</div>
						</div>
					 </div>

 </div>

</div> 

{{#contentFor "footerJS"}}
	<script src='//unpkg.com/masonry-layout@4.1.1/dist/masonry.pkgd.js'></script>
	<script src='//cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js'></script>
  <script>
		$(function(){    
		  // $("body").css("overflow", "auto");

			setTimeout(function(){
				
				// $("body").removeClass("o-hide");
				
				var isLoading = false;

				f_masonry();
				$("img").lazyload({
					effect:"fadeIn",
					failurelimit:40,
					load:f_masonry,
				});

				function f_masonry() {
					function detectmob() {
		          return navigator.userAgent.match(/Android/i)
		                  || navigator.userAgent.match(/webOS/i)
		                  || navigator.userAgent.match(/iPhone/i)
		                  || navigator.userAgent.match(/BlackBerry/i)
		                  || navigator.userAgent.match(/Windows Phone/i);
		      }
		      if (detectmob()) {
		        $('#container').masonry({singleMode: true,animate: true,itemSelector:'.item'}); 
		      }else{
		      	$('#container').masonry({singleMode: true,animate: true,itemSelector:'.item', isFitWidth: true, columnWidth: 200});  
		      }
		      if(!isLoading){
		      	$(".pre-loading").hide();
		      	isLoading = true;
		      }
				}
				
				$('.tipbg').on('click', function(e){  
						var obj = $(e.currentTarget);
						location.href = obj.data('url'); 
				}); 

			}, 0);

		});  
	</script>
{{/contentFor}}