<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  	<meta name="format-detection" content="telephone=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    {{#block "headerCSS"}}
		{{/block}}
  </head>
  <body>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand " href="/">
						<img src="/images/logo.png" alt="">
		      </a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav" id="menu">
		       
						{{#compare pageName '==' 'index'}}
					     <li class="active"><a href="#">案例 <span class="sr-only">(current)</span></a></li>
					     {{else}}
					     <li><a href="/">案例</a></li>
					 {{/compare}}
		        <!-- <li><a href="#">案例</a></li> -->
				    {{#compare pageName '==' 'about'}}
					     <li class="active"><a href="#">关于 <span class="sr-only">(current)</span></a></li>
					     {{else}}
					     <li><a href="/about">关于</a></li>
					 {{/compare}}

					 {{#compare pageName '==' 'service'}}
					     <li class="active"><a href="#">服务 <span class="sr-only">(current)</span></a></li>
					     {{else}}
					     <li><a href="/service">服务</a></li>
					 {{/compare}}

					 {{#compare pageName '==' 'contact'}}
					     <li class="active"><a href="#">联系 <span class="sr-only">(current)</span></a></li>
					     {{else}}
					     <li><a href="/contact">联系</a></li>
					 {{/compare}}
				    
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	
		<div class="mian">
			{{{body}}}
		</div>
  </body>
  <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 	{{#block "footerJS"}}
	{{/block}}
</html>