
<div class="container service">
	

 	<div class="row list-teams">
 		<div class="col-xs-12 col-sm-12 col-md-12 team container1">
        <img src="/images/service.png" class=" grayscale" />
        <!-- <div class="banner"></div> -->
    </div>


    

		
	</div>


	<div class="row item">
    		<div class="col-sm-5 col-xs-5 text-right title">品牌认知策略
		    </div>
		    <div class="col-sm-4 col-xs-4">
		        本源通过洞察品牌心智资源，研究市场环境分析作出战略评估，继而协助品牌执行认知策略。通过多种研究手段开发出针对项目自身的独特解决方案，主要包括品牌诊断与评估、战略定位、命名与宣传语，帮助品牌创建和战略选择
		    </div>
    </div>
		<div class="row item">
    		<div class="col-sm-5 col-xs-5 text-right title">品牌形象设计
		    </div>
		    <div class="col-sm-4 col-xs-4">
		        本源通过把握品牌定位，寻求消费者心中的品牌原型，为企业和产品创造独特的诗句符号，从而创造和放大品牌价值。品牌设计不只是美学，更是企业冲向市场的利剑，设计即营销、形式即内容。
		    </div>
    </div>
    <div class="row item">
    		<div class="col-sm-5 col-xs-5 text-right title">品牌传播设计
		    </div>
		    <div class="col-sm-4 col-xs-4">
		        以品牌传播为导向提供推广服务，年报宣传册和活动策划设计，以及多端口整体网站搭建和升级。以人本设计思维，凭借专业严谨的流程与方法，深入细致的研究与洞察，整合用户需求、商业需求及技术可行性，为客户提供创新且人性化的解决方案。
		    </div>
    </div>
    <div class="row item">
    		<div class="col-sm-5 col-xs-5 text-right title">品牌包装设计
		    </div>
		    <div class="col-sm-4 col-xs-4">
		        基于对消费者认知心理及购买行为的洞察，本原以产品设计的思维为品牌商提供整体的包装解决方案。保持品牌一致性，简历品牌在消费者心智的强势认知，更充分凸显不同产品的优势，提升产品的价值感知度，创造卓越的销售表现。
		    </div>
    </div>
    <div class="row item">
    		<div class="col-sm-5 col-xs-5 text-right title">导向系统
		    </div>
		    <div class="col-sm-4 col-xs-4">
		        以品牌理念为核心，将品牌核心文化融入导向系统中。把传统建筑设计与视觉传达做结合，注重人的内心感受以及设计形象对整体性营销，发挥其科学的人性化的导航作用，使人由衷产生一种亲切感，形成设计对象的整体性可识别。
		    </div>
    </div>
    <div class="row item">
    		<div class="col-sm-5 col-xs-5 text-right title">设计管理
		    </div>
		    <div class="col-sm-4 col-xs-4">
		        设计管理是企业发展策略和经营思想计划的实现，企业对设计理解具有不完整性，发展过程中容易造成设计的无序化。本原界定设计问题，为品牌商提供设计战略、设计目标、设计程序、企业设计系统、设计质量和知识产权的管理。引导企业整体形象的多维的管理程序，创造清晰、新颖和具备凝聚力的企业形象。
		    </div>
    </div>

	
</div>