#container{
	margin: 0 auto;
}
.item {   
  margin: 10px; 
  float: left;    
} 
.item .small{   
  width: 100%;  
  height: 100%;  
}   
// body{
	// overflow: hidden;
// }


@media screen and (max-width: 760px){
	.item {
	    width: 50%!important;
	    box-sizing: border-box;
    	float: left;
    	margin: -10px; 
    	padding: 15px;

	}
	
}

@media screen and (min-width: 760px){
	.w1{
	width: 765px;
	}
	.w2{
		width: 375px;
	}
	.w3{
		width: 365px;
	}
	.w4{
		width: 752px;
	}
	.h1{
		height: 467px;
	}
	.h2{
		height: 560px;
	}
	.h3{
		height: 493px;
	}
	.h5{
		height: 352px;
	}
	.h4{
		height: 239px;
	}
	.h7{
		height: 493px;
	}
	.h8{
		height: 546px;
	}
	.h11{
		height: 483px;
	}
	.h12{
		height: 496px;
	}
	.h13{
		height: 327px;
	}
	.h14{
		height: 347px;
	}
	.h15{
		height: 480px;
	}
	.h16{
		height: 309px;
	}
	.h18{
		height: 265px;
	}
	.h20{
		height: 504px;
	}
	.h22{
		height: 234px;
	}
	.h30{
		height: 421px;
	}
	
}

@media screen and (min-width: 900px){
	.w1{
		width: 774px;
	}
	
}
.pre-loading{
	width: 100%;
	height: 100%; 
	display: block;
}
.o-hide{
	overflow: hidden;
}


.preloader{
	width: 100%;
	height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 10px;
 }
 .preloader_txt{
 	text-align: center;
 	color: #fff;
 	font-size: 36px;
 	font-weight: 700;
 	z-index: 9;
 	animation:movecolor 2s infinite;
	-webkit-animation:movecolor 2s infinite; /*Safari and Chrome*/
 }
 @keyframes movecolor
{
to {color: #ff9400;}
}

@-webkit-keyframes movecolor /*Safari and Chrome*/
{
to {color: #ff9400;}
}
 .round{
 	position: absolute;
 	width: 500px;
 	height: 500px;
 	border-radius:50% ;
 	line-height: 500px;
 	text-align: center;
 	background-color: #ff9400;
 	animation:mymove 5s infinite;
	-webkit-animation:mymove 5s infinite; /*Safari and Chrome*/
 }
 @keyframes mymove
{
	40%{
		width: 10px; height: 10px;
		transform: translate(0px,0px);
	}
	60%{
		width: 10px; height: 10px;
		transform: translate(140px,10px);
	}
	80%{
		width: 5px; height: 5px;
		transform: translate(160px,0px);
	}
	100%{
		width: 0px; height: 0px;
		transform: translate(180px,10px);
	}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
	40%{
		width: 10px; height: 10px;
		transform: translate(0px,0px);
	}
	60%{
		width: 10px; height: 10px;
		transform: translate(140px,10px);
	}
	80%{
		width: 5px; height: 5px;
		transform: translate(160px,0px);
	}
	100%{
		width: 0px; height: 0px;
		transform: translate(180px,10px);
	}
}

// .preloader{
// 	width: 100%;
// 	height: 100%;
//   display: flex;
//   justify-content:center;
//   align-items: center;
//   padding: 10px;
//  }
//  .preloader_txt{
//  	color: #ff9400;
//  	font-size: 36px;
//  	font-weight: 700;
//  	background: #fff -webkit-linear-gradient(left, #fff, #ff9400) 0 0 no-repeat;
//     -webkit-background-size: 80px;

//     -webkit-background-clip: text;
//     -webkit-text-fill-color: rgba(255, 143, 0, 0.1);

//     -webkit-animation: slideShine 3s infinite;
//  }
//  @-webkit-keyframes slideShine {
//     0% {
//         background-position: 0 0;
//     }
//     100% {
//         background-position: 100% 100%;
//     }
// }


