#container{
	margin: 0 auto;
}
.item {   
  margin: 10px; 
  float: left;    
}  



@media screen and (max-width: 760px){
	.item {
	    width: 50%!important;
	    box-sizing: border-box;
    	float: left;
    	margin: -10px; 
    	padding: 15px;

	}
	
}

@media screen and (min-width: 760px){
	.w1{
	width: 765px;
	}
	.w2{
		width: 375px;
	}
	.w3{
		width: 365px;
	}
	.h1{
		height: 467px;
	}
	.h2{
		height: 560px;
	}
	.h3{
		height: 493px;
	}
	.h5{
		height: 352px;
	}
	.h4{
		height: 239px;
	}

	
}

@media screen and (min-width: 900px){
	.w1{
		width: 774px;
	}
	
}
