#container{
	margin: 0 auto;
}
.item {   
  margin: 10px; 
  float: left;    
}  



@media screen and (max-width: 760px){
	.item {
	    width: 50%!important;
	    box-sizing: border-box;
    	float: left;
    	margin: -10px; 
    	padding: 15px;

	}
	
}

@media screen and (min-width: 760px){
	.w1{
	width: 765px;
	}
	.w2{
		width: 375px;
	}
	.w3{
		width: 365px;
	}
	.w4{
		width: 752px;
	}
	.h1{
		height: 467px;
	}
	.h2{
		height: 560px;
	}
	.h3{
		height: 493px;
	}
	.h5{
		height: 352px;
	}
	.h4{
		height: 239px;
	}
	.h7{
		height: 493px;
	}
	.h8{
		height: 546px;
	}
	.h11{
		height: 483px;
	}
	.h12{
		height: 496px;
	}
	.h13{
		height: 327px;
	}
	.h14{
		height: 347px;
	}
	.h15{
		height: 480px;
	}
	.h16{
		height: 309px;
	}
	.h18{
		height: 265px;
	}
	.h20{
		height: 504px;
	}
	.h22{
		height: 234px;
	}
	.h30{
		height: 421px;
	}
	
}

@media screen and (min-width: 900px){
	.w1{
		width: 774px;
	}
	
}
