a {
  color: #00B7FF;
}

// .header-nav{
//   height: 40px;
//   padding: 30px;
//   width: 100%;
//   z-index: 9970;
//   margin: 0 auto;
// }
// .logo{
//   line-height: 40px;
// }
// .nav{
//   float: right;
// }
// .nav li{
//   list-style: none;
//   display: inline-block;
//   padding: 0 10px;
  
// }
// .nav li a{
//   color: #ccc;
// }
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar{
	margin-bottom: 0;
	border-radius: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 10px 0 20px 0;
}
.navbar-nav{
	margin-right: -30px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #000;
    background-color: #fff;
}
.mian{
	padding-top: 60px;
}

/*** about **/
.about .banner{
	width: 100%;
	background: url('/images/about.png');
	margin: 0 auto;
}
.container1{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 10px;
}
.about .container1{
	padding-bottom: 30px;
}
@media (min-width: 992px)
{
	.about, .contact{
		padding: 0 67px;
	}
	.about .container1 img{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.contact .list-teams{
		padding-top: 50px;
	}
	.contact .info{
		margin-top: 50px;
	}

}
.about .container1 img{
	width: 100%;
}
.service .container1{
	margin-bottom: 40px;
}
.service{
	padding-bottom: 40px;
}
.service .item{
	margin-top: 30px;
	font-size: 12px;
}
.service .item .title{
	font-size: 20px;
}
.service .item .item-txt{
	line-height: 22px;
}
.banner-service{
	background: url('/images/service_2.png') no-repeat center center;
	width: 100%;
	height:  450px;
}
// @media screen and (max-width: 760px){
// 	.service .grayscale{
// 		width: 100%;
// 	}
	
// }
// .service .grayscale{
// 	margin-left: 50%;
// 	transform: translate(-451.5px,0px);
// }

#allmap{
	height: 294px;
	width: 100%;
}
.contact .info{
	padding-bottom: 40px;
}
.pre-loading{
	display: none;
}
.detail{
	padding-bottom: 40px;
}
.footer{
	padding: 40px 0;
}