a {
  color: #00B7FF;
}

// .header-nav{
//   height: 40px;
//   padding: 30px;
//   width: 100%;
//   z-index: 9970;
//   margin: 0 auto;
// }
// .logo{
//   line-height: 40px;
// }
// .nav{
//   float: right;
// }
// .nav li{
//   list-style: none;
//   display: inline-block;
//   padding: 0 10px;
  
// }
// .nav li a{
//   color: #ccc;
// }
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar{
	margin-bottom: 0;
	border-radius: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 10px 0 20px 0;
}
.navbar-nav{
	margin-right: -30px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #000;
    background-color: #fff;
}
.mian{
	padding-top: 60px;
}

/*** about **/
.about .banner{
	width: 100%;
	background: url('/images/about.png');
	margin: 0 auto;
}
.container1{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 10px;
}
.about .container1{
	padding-bottom: 30px;
}
@media (min-width: 992px)
{
	.about, .contact, .detail{
		padding: 0 67px;
	}
	// .detail .row{
	// 	width: 704px;
	// 	margin: 0 auto;
	// }
	.about .container1 img{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.contact .list-teams{
		padding-top: 50px;
	}
	.contact .info{
		margin-top: 50px;
	}

}

// @media (min-width: 1440px)
// {
// 	.detail .row{
// 		width: 100%;
// 		margin: 0 auto;
// 	}

// }
.about .container1 img{
	width: 100%;
}
.about{
	font-size: 13px;
}
.service .container1{
	margin-bottom: 40px;
}
.service{
	padding-bottom: 40px;
}
.service .item{
	margin-top: 30px;
	font-size: 13px;
}
.service .item .title{
	font-size: 20px;
}
.service .item .item-txt{
	line-height: 22px;
}
.banner-service{
	background: url('/images/service_2.png') no-repeat center center;
	width: 100%;
	height:  450px;
}
// @media screen and (max-width: 760px){
// 	.service .grayscale{
// 		width: 100%;
// 	}
	
// }
// .service .grayscale{
// 	margin-left: 50%;
// 	transform: translate(-451.5px,0px);
// }

#allmap{
	height: 294px;
	width: 100%;
}
.contact .info{
	padding-bottom: 40px;
}
.pre-loading{
	display: none;
}
.detail{
	padding-top: 60px;
	padding-bottom: 40px;
}
.detail .team{
	position: relative;
}
.detail .toolbar{
	position: absolute;
	top: 0;
  right: -55px;
}
.detail .toolbar a:hover{
	text-decoration: none;
}
.detail .toolbar .icon-guanbi{
	color: #000;
}
.detail .description{
	line-height: 24px;
}
.case-title{
	font-size: 20px;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 26px;
}
.case-list{
	padding-left: 7.5px;
	padding-right: 7.5px;
}
.case-item{
	padding-left: 7.5px;
	padding-right: 7.5px;
}
.case-item .title{
	margin-top: 10px;
	font-size: 16px;
	margin-bottom: 0px;
}
.case-item img{
	width: 100%;
	height: 100%;
}
.case-item a{
	color: #333;
}
.footer{
	padding: 40px 0;
	font-size: 11px;
}

// .cases{ display: inline-block!important;}
// .subnav{
// 	display: inline-block;
// 	overflow: hidden;
// 	height: 24px;
// 	// text-align: right;
// 	width: 0px;
// }
// // .subnav a{ 
// // 	 color: #333;
// // }
// .cases:hover+ .subnav{
//   transition: all 1s;
//   width: 150px;
// }



