a {
  color: #00B7FF;
}

// .header-nav{
//   height: 40px;
//   padding: 30px;
//   width: 100%;
//   z-index: 9970;
//   margin: 0 auto;
// }
// .logo{
//   line-height: 40px;
// }
// .nav{
//   float: right;
// }
// .nav li{
//   list-style: none;
//   display: inline-block;
//   padding: 0 10px;
  
// }
// .nav li a{
//   color: #ccc;
// }

.navbar{
	margin-bottom: 0;
	border-radius: 0;
	    position: fixed;
    width: 100%;
    z-index: 99;
}
.mian{
	padding-top: 60px;
}

/*** about **/
.about .banner{
	width: 100%;
	background: url('/images/about.png');
	margin: 0 auto;
}
.container1{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 10px;
}
.about .container1{
	padding-bottom: 30px;
}
.about .container1 img{
	width: 100%;
}
.service .container1{
	margin-bottom: 40px;
}
.service{
	padding-bottom: 40px;
}
.service .item{
	margin-top: 30px;
	font-size: 12px;
}
.service .item .title{
	font-size: 16px;
}


#allmap{
	height: 500px;
	width: 100%;
}
.contact .info{
	padding-bottom: 40px;
}
.pre-loading{
	display: none;
}
.detail{
	padding-bottom: 40px;
}